.background {
    background: url("./img/bg-pattern.png"), linear-gradient(90deg, #da2431, #7a4397);
}


    .menu{
    background-color:white;
    }


.btnHover{
    border-radius:30px;
    border-color: white;
    background-color: transparent;
    transition: border-color, background-color;
   

}
.btnHover:hover {
background-color: #fdcc52;
border-color:#fdcc52;
background-color: 0.3s;
border-color:0.3s;
}


.positionA{
    position: absolute;
    width: 80%;
}
.positionR {
    position: relative;
}

.googleLink {
    width:18rem;
}


.line {
    border-color:#a83463;
}
.icon {
    margin:0 auto;
    color:#a83463;
}

.phone {
    background: url(./img/bg-cta.jpg);
    box-shadow:inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
    height: 100vh;
    background-size: cover; 
}

.btnHover2 {
    border-radius:30px;
    border-color: white;
    color:white;
    background-color: transparent;
    transition: border-color, background-color;
   
}

.btnHover2:hover {
    background-color: #fdcc52;
    border-color:#fdcc52;
    background-color: 0.3s;
    border-color:0.3s;
    }

    .twitter {
        background-color: #1da1f3;
        width:5rem;
        height:5rem;
    }