* {
  box-sizing: border-box;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.calculator {
  width: 500px;
  border: 2px solid lightgrey;
  border-radius: 2px;
  padding: 20px;
}

.calc-input input {
  padding: 20px;
  width: 100%;
  border: 2px solid lightgrey;
  text-align: right;
  font-size: 30px;
}

.calc-operations {
  display: flex;
  justify-content: flex-start;
}

.calculator-buttons {
  padding: 20px;
}

.calc-button {
  background: #d3d3d3;
  border: 1px solid #a8a8a8;
  margin: 5px;
  cursor: pointer;
  transition: 0.3s ease all;
  width: 25rem;
  height: 2rem;
}

.calc-button:hover {
  background: #b8b8b8;
}

.calc-numbers {
  display: flex;
  flex-grow: 6;
}

.numbers {
  display: flex;
  justify-content: flex-start;
}

.numbers-row {
  width: 70%;
}

.numbers-equal {
  display: flex;
  flex-direction: row;
  padding-left: 30px;
}

.calc-button-equal {
  width: 5.5rem;
  background-color: #6495ed;
  color: white;
  border: 1px solid #a8a8a8;
  cursor: pointer;
  transition: 0.3s ease all;
}

.calc-button-equal:hover {
  background-color: #6082b6;
}
