nav {
  display: flex;
  justify-content: flex-end;
  margin: 0px 30px 25px 0px;
  font-size: 15px;
}

.menu {
  margin: 15px;
  text-decoration: none;
  color: black;
}

img {
  width: 30%;
  padding-left: 15px;
  margin-left: 15px;
  float: left;
}

.names {
  margin-top: 30px;
}

p {
  text-align: justify;
}

form {
  width: 50%;
  margin: auto;
  border: 2px solid rgb(90, 88, 88);
  border-radius: 1em;
}

.form {
  list-style: none;
  padding: 0;
  margin: 0 0 20px 0;
  text-align: center;
}

.field {
  margin-top: 1em;
}

h3 {
  text-align: center;
}

input,
textarea {
  font: 1em sans-serif;
  box-sizing: border-box;
  border: 1px solid #999;
}

input:focus,
textarea:focus {
  border-color: #000;
}

textarea {
  vertical-align: top;
  height: 5em;
}

.button {
  padding-left: 90px;
}

button {
  margin-left: 0.5em;
}

footer {
  margin-top: 20px;
}

.center {
  margin: auto;
  display: flex;
  margin-bottom:20px;
}

.flexCenter {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

@media screen and (min-width: 1200px) {
  header {
    margin: 40px 0 0 20px;
  }
  h1 {
    display: inline;
  }

  nav {
    margin-top: 0px;
    font-size: 20px;
    word-spacing: 40px;
    margin-right: 30px;
  }

  input,
  textarea {
    width: 300px;
  }

  footer {
    text-align: center;
    margin: 25px 0px;
  }
}

