nav {
  display: flex;
  justify-content: flex-end;
  margin: 0px 30px 25px 0px;
  font-size: 15px;
}

.menu {
  margin: 15px;
  text-decoration: none;
  color: black;
}

section div {
  margin: 30px;
}

img {
  width: 100%;
  box-shadow: 10px 5px 5px gray;
}

@media screen and (min-width: 1200px) {
  nav {
    margin-top: 0px;
    font-size: 20px;
    word-spacing: 40px;
    margin-right: 30px;
  }
}