* {
  padding: 0;
  margin: 0;
}
@font-face {
  font-family: myFirstFont;
  src: url(./fonts/Game\ of\ Thrones.ttf);
}

form {
  min-width: 250px;
}

h1 {
  font-family: myFirstFont;
  display: block;
  font-size: 15px;
  padding: 20px;
  color: white;
}

.search-container {
  margin-top: auto;
  padding-left: 1.5rem;
  padding-bottom: 2rem;
}

input[type="text"] {
  padding: 6px;
  margin-top: 8px;
  font-size: 15px;
  border: none;
}

.search-container button {
  padding: 5px 7px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.search-container button:hover {
  background: rgb(85, 83, 83);
}

body {
  overflow: hidden;
  height: 100vh;
}

main {
  background-image: url("./assets/site/mapblue.jpg");
  overflow-y: auto;
}

.wrapper_inner {
  width: 80%;
  margin: 0px auto;
}

img {
  margin: auto;
  display: block;
  object-fit:contain;
  width:75px;
}
span {
  text-align: center;
  display: block;
}

.wrapper_inner{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.div {
  margin:5px;
  width: 95px;
}

span {
  color: rgb(139,69,19);
  font-family:'Merriweather', serif;;
  font-size:10px;
  margin:15px;
}

aside {
  border-right: 1px solid #ededed;
  background-color: rgb(73, 70, 70);
  display: flex;
  flex-direction: column;
  flex: 1 0 20%;
  padding: 1rem;
}
.wrapper {
  display: flex;
  flex-direction: row-reverse;

  height: 100%;
}


@media (max-width: 500px) {
  .wrapper {
    flex-direction: column-reverse;
  }
  ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .wrapper_inner{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
 
  }

  
}
