@use "mixins";

@include mixins.font-face(
  Catamaran,
  "../../fonts/Catamaran/catamaran-v8-latin-regular"
);
.catamaran {
  font-family: Catamaran, Helvetica, Arial, sans-serif;
}

@include mixins.font-face(Lato, "../../fonts/Lato/lato-v20-latin-regular");
.lato {
  font-family: Lato, Helvetica, Arial, sans-serif;
}

@include mixins.font-face(Mulish, "../../fonts/Muli/mulish-v7-latin-regular");
.muli {
  font-family: Mulish, Helvetica, Arial, sans-serif;
}

$yellow: #fdcc52;
$red: #a83463;

.background {
  background: url("../../img/bg-pattern.png"),
    linear-gradient(90deg, #da2431, #7a4397);
}

.btnHover {
  border-radius: 30px;
  border-color: white;
  background-color: transparent;

  &:hover {
    background-color: $yellow;
    border-color: $yellow;
  }
}

.positionA {
  position: absolute;
  width: 80%;
}
.positionR {
  position: relative;
}

.menu {
  background-color: white;
}

.line {
  border-color: $red;
}
.icon {
  margin: 0 auto;
  color: $red;
}

.phone {
  background: url(../../img/bg-cta.jpg);
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
  height: 100vh;
  background-size: cover;
}

.twitter {
  background-color: #1da1f3;
}

.fa-twitter {
  left: 9px;
  position: relative;
}

.facebook {
  background-color: #3b5999;
}
.fa-facebook {
  padding: 10px;
  left: 5px;
  position: relative;
}

.bg-warning {
  .googleLink {
    width: 18rem;
  }
}

.google {
  background-color: #dd4c39;
}

.fa-google {
  padding: 10px;
  position: relative;
}

.footer {
  text-decoration: none;
  color: grey;
}

.footer:hover {
  text-decoration: none;
  color: $yellow;
}
